body {
	margin: 0;
	padding: 0;
	background-color: #181818;
	font-family: "Century Gothic", Futura, sans-serif;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

@media (max-width: 900px) {
	/*  beginning of responsive navbar */

	.nav-container {
		position: fixed;
		top: -11px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px 20px;
		flex-wrap: wrap;
		z-index: 2;
		width: 100%;
		background-color: #181818;
		transform: translate(-10px, 0px);
	}
	.nav-item {
		display: none;
	}
	.nav-item.name,
	.nav-item.burger {
		display: flex;
	}
	.nav-item > h1 > a {
		text-decoration: none;
		color: #fff;
		font-size: 18px;
	}
	#burger-bar-img {
		position: absolute;
		margin-right: 30px;
		right: 0;
		top: 20px;
	}
	.burger-bar {
		color: white;
		height: 40px;
	}
	.burger-nav {
		position: fixed;
		transform: translate(-20px, 150px);
		display: flex;
		flex-direction: column;
		background-color: #fff;
		height: 240px;
		width: 100vw;
		align-items: center;
		text-align: center;
		justify-content: center;
		visibility: hidden;
		box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
	}

	.burger-nav-link-container {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	.burger-bar.closed {
		position: absolute;
		margin-right: 30px;
		right: 0;
		top: 20px;
		visibility: hidden;
	}

	/* background color change when user hovers over link */
	.burger-nav-link-container.tech:hover {
		background-color: #eee;
	}
	.burger-nav-link-container.art:hover {
		background-color: #eee;
	}
	.burger-nav-link-container.design:hover {
		background-color: #eee;
	}
	.burger-nav-link-container.blog:hover {
		background-color: #eee;
	}
	.burger-nav-link {
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	main {
		display: flex;
		justify-content: center;
	}

	.graphic-post-container {
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(0px, 100px);
		width: 100%;
		height: 100%;
		flex-direction: column;
	}
	.graphic-post-img {
		width: 330px;
		height: 100%;
		z-index: 1;
	}
	.graphic-post-title {
		color: white;
	}
}
/*  End of responsive navbar */

@media (min-width: 900px) {
	.burger-nav {
		display: none;
	}
	.nav-item.burger {
		display: none;
	}
	.nav-container {
		position: relative;
		position: sticky;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		text-decoration: none;
		background-color: #181818;
		z-index: 2;
	}
	.nav-item {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		font-size: 165x;
		color: #fff;
	}
	.nav-item.name h1 > a {
		text-decoration: none;
		color: #fff;
		font-size: 18px;
	}
	.nav-item.info {
		align-items: center;
	}

	.underline:hover {
		-webkit-transition: border-color 0.9s ease;
		transition: border-color 0.9s ease;
	}

	.underline:after {
		content: "";
		display: block;
		width: 0;
		height: 1px;
		background-color: white;
		-webkit-transition: width 0.9s;
		transition: width 0.9s;
	}

	.underline:hover::after {
		width: 100%;
		-webkit-transition: width 0.9s;
		transition: width 0.9s;
	}

	.nav-heading {
		text-decoration: none;
		font-size: 20px;
		color: #fff;
		font-weight: normal;
		padding: 10px;
	}

	.nav-heading.contact {
		display: block;
		background-color: #fff;
		color: black;
		font-weight: bold;
		padding: 10px 14px;
		border-radius: 6px;
		animation: bounce 1s infinite;
	}
	.nav-heading.contact:hover {
		background-color: #dadada;
		transition: all 0.1s;
	}
	@keyframes bounce {
		0%,
		100% {
			transform: translateY(-7%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: translateY(0);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}

	.change-background-on-hover:hover {
		background-color: rgba(226, 226, 226, 0.068);
		border-radius: 6px;
		transition: all 0.1s ease-in-out;
	}

	.dropdown-menu {
		visibility: hidden;
		position: absolute;
		display: flex;

		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
		background-color: rgba(36, 36, 36);
		width: 220px;
		height: 200px;
		transform: translateX(-50px);
		border-radius: 6px;
	}
	.dropdown-menu > li {
		align-items: center;
		list-style: none;
		align-items: center;
		font-size: 18px;
		margin: 15px;
		font-weight: normal;
	}
	.dropdown-menu > li > a {
		text-decoration: none;
		color: white;
		font-weight: normal;
	}
}

/* beginning of mobile technical projects demo stylesheet */

@media (max-width: 900px) {
	/* background color change when user hovers over link */
	.burger-nav-link-container.tech:hover {
		background-color: #eee;
	}
	.burger-nav-link-container.art:hover {
		background-color: #eee;
	}
	.burger-nav-link-container.design:hover {
		background-color: #eee;
	}
	.burger-nav-link-container.blog:hover {
		background-color: #eee;
	}
	.burger-nav-link {
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translate(0px, 100px);
	}
	main {
		color: white;
	}
	main > section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	iframe {
		width: 300px;
		height: 200px;
	}
	.tech-title {
		text-align: center;
	}
	.tech-title > a {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid #fff;
	}
	.tech-description {
		padding: 20px;
		letter-spacing: 1.5px;
		line-height: 1.5;
	}
	.tech-tool > span {
		border-bottom: 1px solid #fff;
		letter-spacing: 1.5px;
		line-height: 1.5;
	}
	section {
		background-color: #41414115;
		border-radius: 6px;
		margin: 10px;
	}
	section > a > img,
	section > video {
		width: 300px;
		height: 200px;
		object-fit: cover;
	}
	.section-header {
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateY(60px);
	}
	.section-header > a {
		text-decoration: none;
		color: white;
	}
}

/* end of mobile technical projects demo stylesheet */

/* beginning of  Desktop technical projects demo stylesheet */
@media (min-width: 900px) {
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #41414115;
		margin: 50px;
	}

	section > h2 > a {
		text-decoration: none;
		color: white;
	}
	section > h2 > a:hover {
		-webkit-transition: border-color 0.9s ease;
		transition: border-color 0.9s ease;
	}

	section > h2 > a:after {
		content: "";
		display: block;
		width: 0;
		height: 1px;
		background-color: white;
		-webkit-transition: width 0.9s;
		transition: width 0.9s;
	}

	p {
		color: white;
	}
	section > h2 > a:hover::after {
		width: 100%;
		-webkit-transition: width 0.9s;
		transition: width 0.9s;
	}
	.tech-description {
		width: 800px;
		color: white;
		margin: 40px;
	}
	.project-snippet:nth-of-type(1) {
		width: 900px;
		height: 500px;
		object-fit: cover;
	}
	.project-snippet:nth-of-type(2) {
		height: 100%;
		width: 100%;
	}
	section > video {
		height: 100px;
	}
	.section-header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
	}
	.section-header > a {
		text-decoration: none;
		color: white;
	}
}
/* end of desktop technical projects demo stylesheet */

/* beginning of graphic design mobile demo stylesheet */
@media (max-width: 900px) {
	.graphic-post-title {
		text-align: center;
	}
	#section-header-graphic {
		transform: translateY(-15px);
	}
}
/* end of graphic design mobile demo stylesheet */
/* beginning of desktop graphic projects demo stylesheet */
@media (min-width: 900px) {
	.graphic-post-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-items: baseline;
	}
	.graphic-post-img {
		width: 420px;
		height: fit-content;
		z-index: 1;
	}
	.graphic-post-title {
		color: white;
	}
	.graphic-image-container {
		margin: 60px;
	}

	.graphic-image-container:nth-of-type(1) > img {
		object-fit: cover;
		object-fit: scale-down;
	}
	.graphic-image-container:nth-of-type(2) > img {
		object-fit: cover;
		object-fit: scale-down;
	}
	.graphic-image-container:nth-of-type(3) > img {
		object-fit: cover;
		object-fit: scale-down;
	}
	.graphic-image-container:nth-of-type(4) > img {
		object-fit: cover;
		object-fit: scale-down;
	}

	.graphic-image-container:nth-of-type(5) > img {
		object-fit: cover;
		object-fit: scale-down;
	}
	.graphic-image-container:nth-of-type(6) > img {
		object-fit: cover;
		object-fit: scale-down;
	}
	.graphic-image-container:nth-of-type(7) > img {
		object-fit: cover;
		object-fit: scale-down;
	}
	.graphic-image-container:nth-of-type(8) > img {
		object-fit: cover;
		object-fit: scale-down;
		width: 600px;
		height: 600px;
	}
	.graphic-post-img:nth-of-type(8) {
		height: 600px;
		width: 600px;
	}
}
/* beginning of desktop graphic projects demo stylesheet */

/* beginning of desktop art demo stylesheet */
@media (min-width: 900px) {
	img {
		width: 600px;
		height: 800px;
		object-fit: scale-down;
		margin: 50px;
	}

	.art-post-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
	}
	.graphic-post-title {
		text-align: center;
	}
}
/* end of desktop art demo stylesheet */
/* beginning of mobile art demo stylesheet */
@media (max-width: 900px) {
	.art-post-container {
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(0px, 100px);
		width: 100%;
		height: 100%;
		flex-direction: column;
	}
	.art-post-img {
		width: 330px;
		height: 100%;
		z-index: 1;
	}
	.underline:last-of-type {
		transform: translateY(35px);
	}
}
/* end of mobile art demo stylesheet */
